$palette: (
  primary: hsl(213 56% 50%),
  secondary: hsl(37 56% 50%),
  neutral: hsl(238deg 26% 20%),
  success: hsl(129deg 64% 39%),
  warning: hsl(39deg 71% 51%),
  danger: hsl(3deg 67% 50%)
);
$colors-name: 'primary', 'secondary', 'neutral', 'success', 'warning', 'danger';
